@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textSecondary antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-text;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary via-secondary to-accent;
  }
}
